name: Update Stock

on:
  schedule:
    - cron: "* * * * *"  # Tous les jours à 02h00 UTC
  workflow_dispatch:     # Permet de le lancer manuellement aussi

jobs:
  update:
    runs-on: ubuntu-latest
    environment: PROD

    steps:
      - name: Checkout du repo
        uses: actions/checkout@v3

      - name: Configurer Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Installer les dépendances
        run: pip install -r requirements.txt

      - name: Lancer le script de mise à jour
        env:
          USR: ${{ secrets.USR }}
          PSSWRD: ${{ secrets.PSSWRD }}
        run: python scripts/fetch_stock.py

      - name: Commit si changement de products.json
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Ajout initial du fichier stock.json"
          git push origin main

